@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #2a2a2a;
    --second-bg-color: #156f8b;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #00adb5;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

html::-webkit-scrollbar{
    width: .5rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 9px;
}

/* html {
  scroll-padding-top: 80px;  
} */

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

/* .logo{
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-family: "Montserrat", sans-serif;
} */

.logo img{
    max-width: 400px;
}

span{
    color: var(--main-color);
}

.navlist{
    display: flex;
}

.navlist a{
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition:  all .45s ease;
    letter-spacing: 1px;
}

.navlist a:hover{
    color: var(--main-color);
}

.navlist a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

section{
    padding: 160px 15% 120px
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/back1.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    /* clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 90%, 0 100%, 0% 50%); */
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(2, 4, 6, 0.763) 0%, rgba(2, 4, 6, 0.664) 35%, rgba(8, 56, 66, 0.497) 100%);
    pointer-events: none;
    z-index: 1;
  }


.slide{
    margin-bottom: 20px;
}

.one{
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
}

.two{
    display: inline-block;
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
}

.home-text{
    position: absolute;
    z-index: 1;
}

.home-text h1{
    font-size: var(--big-font);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    letter-spacing: 1px;
    margin: 0 0 8px;
}

.home-text h3{
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.1;
    color: var(--second-color);
    list-style: 1.1;
    margin: 0 0 35px;
}

.home-text p{
    color: var(--text-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
}

.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn{
    display: inline-block;
    padding: 12px 28px;
    background-color: var(--main-color);
    border-radius: 5rem;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
}

.btn:hover{
    transform: scale(0.9);
}


.btn-2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    /* margin-left: 35px; */
}

.btn-2 span i{
    height: 55px;
    width: 55px;
    background-color: var(--main-color);
    color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-radius: 50%;
    margin-left: 15px;
    transition: all .45s ease;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
      box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
    }
    70% {
      box-shadow: 0 0 200px rgba(41, 241, 255, 0.029);
    }
    100% {
      box-shadow: 0 0 0 rgba(8, 110, 158, 0.5);
    }
  }

.btn-2 span i:hover{
    transform: scale(1.1) translateX(5px);
}

header.sticky{
    backdrop-filter: blur(18px) saturate(180%);
    -webkit-backdrop-filter: blur(18px) saturate(180%);
    background-color: rgba(42, 42, 42, 0.8);
    padding: 12px 15%;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img{
    z-index: 1;
}

.about-img img{
    max-width: 530px;
    height: auto;
    width: 100%;
}

.about-text{
    z-index: 1;
}

.about-text h2{
    font-size: var(--h2-font);
    font-family: "Montserrat", sans-serif;
    line-height: 1;
}

.about-text h4{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 4rem;
}

.about{
    position: relative;
    background-image: url(../img/back2.jpg);
    height: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.about::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(21,111,139);
    background: linear-gradient(77deg, rgba(21,111,139,0.9612219887955182) 0%, rgba(42,42,42,0.9332107843137255) 100%);
    pointer-events: none;
  }

  

  .approach{
    position: relative;
    /* display: grid;
    background-image: url(../img/test.png);
    height: auto; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1081%26quot%3b)' fill='none'%3e%3cpath d='M190.4 446.02L297.79 508.02L297.79 632.02L190.4 694.02L83.01 632.02L83.01 508.02zM727.35 -111.98L834.74 -49.98L834.74 74.02L727.35 136.02L619.96 74.02L619.96 -49.98zM727.35 260.02L834.74 322.02L834.74 446.02L727.35 508.02L619.96 446.02L619.96 322.02zM1264.3 74.02L1371.69 136.02L1371.69 260.02L1264.3 322.02L1156.91 260.02L1156.91 136.02z' stroke='rgba(21%2c 111%2c 139%2c 0.1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M178 446.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM285.39 508.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM285.39 632.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM178 694.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM70.61 632.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM70.61 508.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM714.95 -111.98 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM822.34 -49.98 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM822.34 74.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM714.95 136.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM607.56 74.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM607.56 -49.98 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM714.95 260.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM822.34 322.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM822.34 446.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM714.95 508.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM607.56 446.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM607.56 322.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM1251.9 74.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM1359.29 136.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM1359.29 260.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM1251.9 322.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM1144.51 260.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM1144.51 136.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0z' fill='rgba(21%2c 111%2c 139%2c 0.1)'%3e%3c/path%3e%3cpath d='M56.18 69.44L99.48 94.44L99.48 144.44L56.18 169.44L12.88 144.44L12.88 94.44zM12.88 144.44L56.18 169.44L56.18 219.44L12.88 244.44L-30.42 219.44L-30.42 169.44zM12.88 444.44L56.18 469.44L56.18 519.44L12.88 544.44L-30.42 519.44L-30.42 469.44zM99.48 294.44L142.79 319.44L142.79 369.44L99.48 394.44L56.18 369.44L56.18 319.44zM142.79 369.44L186.09 394.44L186.09 444.44L142.79 469.44L99.48 444.44L99.48 394.44zM186.09 -5.56L229.39 19.44L229.39 69.44L186.09 94.44L142.79 69.44L142.79 19.44zM229.39 519.44L272.69 544.44L272.69 594.44L229.39 619.44L186.09 594.44L186.09 544.44zM316 369.44L359.3 394.44L359.3 444.44L316 469.44L272.69 444.44L272.69 394.44zM359.3 -5.56L402.6 19.44L402.6 69.44L359.3 94.44L316 69.44L316 19.44zM402.6 69.44L445.91 94.44L445.91 144.44L402.6 169.44L359.3 144.44L359.3 94.44zM359.3 294.44L402.6 319.44L402.6 369.44L359.3 394.44L316 369.44L316 319.44zM402.6 519.44L445.91 544.44L445.91 594.44L402.6 619.44L359.3 594.44L359.3 544.44zM445.91 144.44L489.21 169.44L489.21 219.44L445.91 244.44L402.6 219.44L402.6 169.44zM445.91 294.44L489.21 319.44L489.21 369.44L445.91 394.44L402.6 369.44L402.6 319.44zM489.21 369.44L532.51 394.44L532.51 444.44L489.21 469.44L445.91 444.44L445.91 394.44zM445.91 444.44L489.21 469.44L489.21 519.44L445.91 544.44L402.6 519.44L402.6 469.44zM489.21 519.44L532.51 544.44L532.51 594.44L489.21 619.44L445.91 594.44L445.91 544.44zM532.51 144.44L575.81 169.44L575.81 219.44L532.51 244.44L489.21 219.44L489.21 169.44zM532.51 444.44L575.81 469.44L575.81 519.44L532.51 544.44L489.21 519.44L489.21 469.44zM619.12 -5.56L662.42 19.44L662.42 69.44L619.12 94.44L575.81 69.44L575.81 19.44zM662.42 219.44L705.72 244.44L705.72 294.44L662.42 319.44L619.12 294.44L619.12 244.44zM662.42 519.44L705.72 544.44L705.72 594.44L662.42 619.44L619.12 594.44L619.12 544.44zM749.02 69.44L792.33 94.44L792.33 144.44L749.02 169.44L705.72 144.44L705.72 94.44zM749.02 519.44L792.33 544.44L792.33 594.44L749.02 619.44L705.72 594.44L705.72 544.44zM835.63 69.44L878.93 94.44L878.93 144.44L835.63 169.44L792.33 144.44L792.33 94.44zM792.33 144.44L835.63 169.44L835.63 219.44L792.33 244.44L749.02 219.44L749.02 169.44zM835.63 219.44L878.93 244.44L878.93 294.44L835.63 319.44L792.33 294.44L792.33 244.44zM792.33 294.44L835.63 319.44L835.63 369.44L792.33 394.44L749.02 369.44L749.02 319.44zM922.23 219.44L965.54 244.44L965.54 294.44L922.23 319.44L878.93 294.44L878.93 244.44zM878.93 294.44L922.23 319.44L922.23 369.44L878.93 394.44L835.63 369.44L835.63 319.44zM1095.44 219.44L1138.75 244.44L1138.75 294.44L1095.44 319.44L1052.14 294.44L1052.14 244.44zM1138.75 -5.56L1182.05 19.44L1182.05 69.44L1138.75 94.44L1095.44 69.44L1095.44 19.44zM1138.75 144.44L1182.05 169.44L1182.05 219.44L1138.75 244.44L1095.44 219.44L1095.44 169.44zM1138.75 294.44L1182.05 319.44L1182.05 369.44L1138.75 394.44L1095.44 369.44L1095.44 319.44zM1182.05 519.44L1225.35 544.44L1225.35 594.44L1182.05 619.44L1138.75 594.44L1138.75 544.44zM1268.65 369.44L1311.96 394.44L1311.96 444.44L1268.65 469.44L1225.35 444.44L1225.35 394.44zM1225.35 444.44L1268.65 469.44L1268.65 519.44L1225.35 544.44L1182.05 519.44L1182.05 469.44zM1268.65 519.44L1311.96 544.44L1311.96 594.44L1268.65 619.44L1225.35 594.44L1225.35 544.44zM1311.96 -5.56L1355.26 19.44L1355.26 69.44L1311.96 94.44L1268.65 69.44L1268.65 19.44zM1355.26 69.44L1398.56 94.44L1398.56 144.44L1355.26 169.44L1311.96 144.44L1311.96 94.44zM1311.96 144.44L1355.26 169.44L1355.26 219.44L1311.96 244.44L1268.65 219.44L1268.65 169.44zM1355.26 219.44L1398.56 244.44L1398.56 294.44L1355.26 319.44L1311.96 294.44L1311.96 244.44zM1311.96 294.44L1355.26 319.44L1355.26 369.44L1311.96 394.44L1268.65 369.44L1268.65 319.44zM1311.96 444.44L1355.26 469.44L1355.26 519.44L1311.96 544.44L1268.65 519.44L1268.65 469.44zM1398.56 144.44L1441.86 169.44L1441.86 219.44L1398.56 244.44L1355.26 219.44L1355.26 169.44zM1398.56 444.44L1441.86 469.44L1441.86 519.44L1398.56 544.44L1355.26 519.44L1355.26 469.44z' stroke='rgba(0%2c 173%2c 181%2c 0.11)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1081'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }

/* 
  .services::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(5,40,47);
    background: linear-gradient(52deg, rgba(5, 40, 47, 0.956) 0%, rgba(42, 42, 42, 0.866) 100%);
    pointer-events: none;
  } */


  .main-text{
    position: relative;
    text-align: center;
    z-index: 1;
  }

  .main-text p{
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
  }

  .main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
    font-family: "Montserrat", sans-serif;
  }

  /* .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
    z-index: 1;
  }
   */

   .approach-content {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr)); /* Create 3 equal columns */
    align-items: stretch; /* Stretch items to fill the grid row height */
    gap: 2.5rem;
    margin-top: 5rem;
    z-index: 1;
}

.approach-content .box:nth-child(5) {
    grid-column: 2 / 4; /* Position the last box in the middle column */
    justify-self: center; /* Center the content within its grid column */
}


  .box{
    background: var(--main-color);
    padding: 35px;
    border-radius: 8px;
    transition: all .45s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box:hover{
    transform: translateY(-8px);
    cursor: pointer;
  }

  .s-icons i{
    font-size: 50px;
    margin-bottom: 20px;
    color: var(--bg-color);
  }

  .box h3{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
  }

  .box p{
    color: var(--bg-color);
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
  }

  .final-box p{
    color: var(--bg-color);
  }







  .pipeline{
    display: grid;
    position: relative;
    background-image: url(../img/back2.jpg);
    height: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.pipeline::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(21,111,139);
    background: linear-gradient(77deg, rgba(21,111,139,0.9612219887955182) 0%, rgba(42,42,42,0.9332107843137255) 100%);
    pointer-events: none;
  }


  .container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4rem 4rem;
    grid-auto-flow: row;
    grid-template-areas:
      "grid-1 grid-1 grid-3"
      "grid-2 grid-2 grid-4";
    z-index: 1;  
  }
    

  .container h3{
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
  }

  .container p{
    color: var(--second-color);
    font-size: var(--p-font);
  }
  
  .grid-1 { 
    grid-area: grid-1; 
    margin-bottom: 2rem;
  }

  .grid-box{
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
  }

  .grid-box span{
    font-size: var(--h2-font);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }


  
  .grid-2 { 
    grid-area: grid-2; 
    background-color: var(--bg-color);
    padding: 35px;
    border-radius: 8px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .grid-2 h3{
    color: var(--main-color);
  }
  

  .grid-3 { 
    grid-area: grid-3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--bg-color);
    padding: 35px;
    border-radius: 8px;
  }
  
  .grid-3 h4{
    font-size: 1.4rem;
    color: var(--main-color);
  }
  

  .grid-4 { 
    grid-area: grid-4; 
    align-content: center;

  }


  .grid-box-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .grid-box-2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .grid-box-2 i{
    font-size: 8rem;
  }

  .grid-box-2 span{
    font-size: 3rem;
    font-weight: 700;
  }



  .contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1081%26quot%3b)' fill='none'%3e%3cpath d='M190.4 446.02L297.79 508.02L297.79 632.02L190.4 694.02L83.01 632.02L83.01 508.02zM727.35 -111.98L834.74 -49.98L834.74 74.02L727.35 136.02L619.96 74.02L619.96 -49.98zM727.35 260.02L834.74 322.02L834.74 446.02L727.35 508.02L619.96 446.02L619.96 322.02zM1264.3 74.02L1371.69 136.02L1371.69 260.02L1264.3 322.02L1156.91 260.02L1156.91 136.02z' stroke='rgba(21%2c 111%2c 139%2c 0.1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M178 446.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM285.39 508.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM285.39 632.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM178 694.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM70.61 632.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM70.61 508.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM714.95 -111.98 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM822.34 -49.98 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM822.34 74.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM714.95 136.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM607.56 74.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM607.56 -49.98 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM714.95 260.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM822.34 322.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM822.34 446.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM714.95 508.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM607.56 446.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM607.56 322.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM1251.9 74.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM1359.29 136.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM1359.29 260.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM1251.9 322.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM1144.51 260.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0zM1144.51 136.02 a12.4 12.4 0 1 0 24.8 0 a12.4 12.4 0 1 0 -24.8 0z' fill='rgba(21%2c 111%2c 139%2c 0.1)'%3e%3c/path%3e%3cpath d='M56.18 69.44L99.48 94.44L99.48 144.44L56.18 169.44L12.88 144.44L12.88 94.44zM12.88 144.44L56.18 169.44L56.18 219.44L12.88 244.44L-30.42 219.44L-30.42 169.44zM12.88 444.44L56.18 469.44L56.18 519.44L12.88 544.44L-30.42 519.44L-30.42 469.44zM99.48 294.44L142.79 319.44L142.79 369.44L99.48 394.44L56.18 369.44L56.18 319.44zM142.79 369.44L186.09 394.44L186.09 444.44L142.79 469.44L99.48 444.44L99.48 394.44zM186.09 -5.56L229.39 19.44L229.39 69.44L186.09 94.44L142.79 69.44L142.79 19.44zM229.39 519.44L272.69 544.44L272.69 594.44L229.39 619.44L186.09 594.44L186.09 544.44zM316 369.44L359.3 394.44L359.3 444.44L316 469.44L272.69 444.44L272.69 394.44zM359.3 -5.56L402.6 19.44L402.6 69.44L359.3 94.44L316 69.44L316 19.44zM402.6 69.44L445.91 94.44L445.91 144.44L402.6 169.44L359.3 144.44L359.3 94.44zM359.3 294.44L402.6 319.44L402.6 369.44L359.3 394.44L316 369.44L316 319.44zM402.6 519.44L445.91 544.44L445.91 594.44L402.6 619.44L359.3 594.44L359.3 544.44zM445.91 144.44L489.21 169.44L489.21 219.44L445.91 244.44L402.6 219.44L402.6 169.44zM445.91 294.44L489.21 319.44L489.21 369.44L445.91 394.44L402.6 369.44L402.6 319.44zM489.21 369.44L532.51 394.44L532.51 444.44L489.21 469.44L445.91 444.44L445.91 394.44zM445.91 444.44L489.21 469.44L489.21 519.44L445.91 544.44L402.6 519.44L402.6 469.44zM489.21 519.44L532.51 544.44L532.51 594.44L489.21 619.44L445.91 594.44L445.91 544.44zM532.51 144.44L575.81 169.44L575.81 219.44L532.51 244.44L489.21 219.44L489.21 169.44zM532.51 444.44L575.81 469.44L575.81 519.44L532.51 544.44L489.21 519.44L489.21 469.44zM619.12 -5.56L662.42 19.44L662.42 69.44L619.12 94.44L575.81 69.44L575.81 19.44zM662.42 219.44L705.72 244.44L705.72 294.44L662.42 319.44L619.12 294.44L619.12 244.44zM662.42 519.44L705.72 544.44L705.72 594.44L662.42 619.44L619.12 594.44L619.12 544.44zM749.02 69.44L792.33 94.44L792.33 144.44L749.02 169.44L705.72 144.44L705.72 94.44zM749.02 519.44L792.33 544.44L792.33 594.44L749.02 619.44L705.72 594.44L705.72 544.44zM835.63 69.44L878.93 94.44L878.93 144.44L835.63 169.44L792.33 144.44L792.33 94.44zM792.33 144.44L835.63 169.44L835.63 219.44L792.33 244.44L749.02 219.44L749.02 169.44zM835.63 219.44L878.93 244.44L878.93 294.44L835.63 319.44L792.33 294.44L792.33 244.44zM792.33 294.44L835.63 319.44L835.63 369.44L792.33 394.44L749.02 369.44L749.02 319.44zM922.23 219.44L965.54 244.44L965.54 294.44L922.23 319.44L878.93 294.44L878.93 244.44zM878.93 294.44L922.23 319.44L922.23 369.44L878.93 394.44L835.63 369.44L835.63 319.44zM1095.44 219.44L1138.75 244.44L1138.75 294.44L1095.44 319.44L1052.14 294.44L1052.14 244.44zM1138.75 -5.56L1182.05 19.44L1182.05 69.44L1138.75 94.44L1095.44 69.44L1095.44 19.44zM1138.75 144.44L1182.05 169.44L1182.05 219.44L1138.75 244.44L1095.44 219.44L1095.44 169.44zM1138.75 294.44L1182.05 319.44L1182.05 369.44L1138.75 394.44L1095.44 369.44L1095.44 319.44zM1182.05 519.44L1225.35 544.44L1225.35 594.44L1182.05 619.44L1138.75 594.44L1138.75 544.44zM1268.65 369.44L1311.96 394.44L1311.96 444.44L1268.65 469.44L1225.35 444.44L1225.35 394.44zM1225.35 444.44L1268.65 469.44L1268.65 519.44L1225.35 544.44L1182.05 519.44L1182.05 469.44zM1268.65 519.44L1311.96 544.44L1311.96 594.44L1268.65 619.44L1225.35 594.44L1225.35 544.44zM1311.96 -5.56L1355.26 19.44L1355.26 69.44L1311.96 94.44L1268.65 69.44L1268.65 19.44zM1355.26 69.44L1398.56 94.44L1398.56 144.44L1355.26 169.44L1311.96 144.44L1311.96 94.44zM1311.96 144.44L1355.26 169.44L1355.26 219.44L1311.96 244.44L1268.65 219.44L1268.65 169.44zM1355.26 219.44L1398.56 244.44L1398.56 294.44L1355.26 319.44L1311.96 294.44L1311.96 244.44zM1311.96 294.44L1355.26 319.44L1355.26 369.44L1311.96 394.44L1268.65 369.44L1268.65 319.44zM1311.96 444.44L1355.26 469.44L1355.26 519.44L1311.96 544.44L1268.65 519.44L1268.65 469.44zM1398.56 144.44L1441.86 169.44L1441.86 219.44L1398.56 244.44L1355.26 219.44L1355.26 169.44zM1398.56 444.44L1441.86 469.44L1441.86 519.44L1398.56 544.44L1355.26 519.44L1355.26 469.44z' stroke='rgba(0%2c 173%2c 181%2c 0.11)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1081'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }

  .contact-text h4{
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
  }

  .contact-text h2{
    font-size: var(--h2-font);
    line-height: 1;
  }

  .contact-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 30px;
  }

  .list{
    margin-bottom: 2.8rem;
  }

  .list li{
    margin-bottom: 12px;
  }
  
  .list li a{
    display: block;
    color: var(--second-color);
    font-size: 14px;
    transition: all .45s ease;
  }

  .list li a:hover{
    color: var(--main-color);
    transform: translateX(5px);
  }


  .contact-icons i{
    height: 45px;
    width: 45px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
    transition: all .45s ease;
  }

  .contact-icons i:hover{
    background: var(--second-bg-color);
  }



  .contact-form form{
    position: relative;
  }

  .contact-form form input, form textarea{
    width: 100%;
    padding: 14px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .contact-form textarea{
    resize: none;
    height: 240px;
  }

  .contact-form .submit{
    display: inline-block;
    font-size: 16px;
    background: var(--main-color);
    color: var(--text-color);
    width: 160px;
    transition: all .45s ease;
  }

  .contact-form .submit:hover{
    transform: scale(1.1);
    cursor: pointer;
  }



  .footer{
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: var(--bg-color);
  }

  .last-text p{
    color: var(--second-color);
    font-size: 14px;
  }

  .top i{
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    color: var(--text-color);
    background: var(--main-color);
  }











  @media (max-width: 1480px){
    header{
        padding: 12px 2.5%;
        transition:  .1s;
    }

    header.sticky{
        padding: 10px 2.5%;
        transition:  .1s;;
    }

    section{
        padding: 110px 3% 60px;
    }

    .footer{
        padding: 15px 3%;
    }
  }


  @media (max-width: 1200px){
    .approach-content{
        grid-template-columns: 1fr;
    }
  }



  @media (max-width: 1100px){
    :root{
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }

    .home-text h3{
        font-size: 1.5rem;
    }

    .home{
        height: 87vh;
    }
  }


  @media (max-width: 920px){
    .about{
        grid-template-columns: 1fr;
    }

    .about-img{
        text-align: center;
        order: 2;
    }

    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }

    .approach-content{
       display: flex;
       flex-direction: column;
       padding: 0 35px;
    }

    .contact{
        grid-template-columns: 1fr;
    }
  }



  @media (max-width: 1020px){
    #menu-icon{
        display: block;
    }

    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .45s ease;
    }

    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }

    .navlist a.hover{
        color: var(--main-color);
    }

    .navlist a.active{
        color: var(--text-color);
    }

    .navlist.open{
        top: 100%;
    }

    .container{
        display: flex;
        flex-direction: column;
        padding: 0 35px;
    }
  }